$fa-font-path:"/assets/fonts/fontawesome/";
$roboto-font-path: "/assets/fonts/roboto/";
$icons-font-path: "/assets/fonts/material-design-icons/";
@import "custom/vendors";
@import 'vendor/bower_components/fontawesome/scss/font-awesome';
@import 'ngAnimate/ng-animation';
// @import 'ngAnimate/style';
@import 'custom/custom';
