

body {
  padding-top: 70px;
}
.header {
  color: #26a69a;
  font-weight: 300;
}
.navbar {
  margin-bottom: 0
}

.navbar-toggle .icon-bar {
  background-color: $color-de-fuente;
}

.navbar-puertorinoco {
  background-color: $color-nav-puertorinoco;
  border-color: $nav-borde-puertorinoco;
  min-height: $navm-h;
  .navbar-nav > li > a, .navbar-brand {
    color: $color-de-fuente;
    &:hover {
      background-color: $color-nav-puertorinoco
    }
  }
}

.logoNav {
  width: $logonav-w;
}
ul.language_bar_chooser li{
  list-style: none;
  float:left;
  margin:0 1em;

}
ul.language_bar_chooser{
  float:right;
}
#Embarcaciones,#Paseos,#LoadingEmbarcacionesYPaseos,#datosdePrecios,#CuposDisponibles,#cedulaForm,#datosInternosCliente{
  display: none;
}